name: Docker Image CI

on:
#  push:
#    branches: [ "main" ]
#  pull_request:
#    branches: [ "main" ]
  workflow_dispatch: 

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      working-directory: 03-app-dotnet
      run: docker build . --file Dockerfile --tag my-dotnet-app:$(date +%s)
