name: reusable-workflow-greet

on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  greet:
    runs-on: ubuntu-latest
    steps:
      - name: Run Hello World script
        run: echo Hello, ${{ inputs.username }}
